.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  margin-top: 70px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.search-filter-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  align-items: center;
  gap: 1rem; 
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.recommendations, .most-liked, .market {
  width: 100%;
}

.section-header {
  width: 100%;
}

.no-items-message {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 1.2rem;
  width: 100%;
}

@media (max-width: 600px) or (max-height: 800px) {
  .home-container {
    margin-top: 20px;
  }

  .search-filter-container {
    gap: 0.1rem
  }
}






