.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
  margin-top: 150px;
  margin-bottom: 200px;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.detailed-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

.compact-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 100%;
}




