.logInPage {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
}

.logInPage h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Montagu Slab', serif;
  color: #333;
}

.logInPage label {
  display: block;
  margin: 1rem 0 0.25rem;
  font-weight: 500;
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}

.logInWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75vw;
  padding: 1rem;
  box-sizing: border-box;
}



.logInPage button[type='submit'] {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logInPage button[type='submit']:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
}

.noAccountText {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.95rem;
  color: #555;
}

.noAccountText a {
  color: #4facfe;
  text-decoration: none;
  font-weight: 500;
}

.noAccountText a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 1rem;
  min-height: 1.5rem;
}