.item-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}
  
.profile-picture-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #4facfe;
}

.user-fullName{
    font-family: 'Abel', sans-serif;
    font-weight: bold;;
    font-size: 4rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.other-user-current-market{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}
