.favorite-btn {
    background-color: ghostwhite;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.favorite-btn:hover {
    transform: scale(1.01);
}

.favorite-btn span {
    color: darkgrey;
}